[Unit]
Description=Check VirtualTabletop GitHub main for updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
RandomizedDelaySec=30s
Persistent=true
Unit=virtualtabletop-update.service

[Install]
WantedBy=timers.target
